<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>{{ abstract.title }}</title>

    {% load sstatic %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% sstatic 'diseaseMatcherApp/styles.css' %}">
    <script src="{% sstatic 'diseaseMatcherApp/UI-helper-abstractDetail.js' %}"></script>

    <!-- TODO: This would work better with an interface that allowed the user to highlight diseases with the mouse, then submit.-->
    <!-- This would find length/offset, deal with spelling and punctuation mismatches, and be a better experience for the user-->
</head>

<body>

    <span class="instructions">Highlight disease names with your mouse, or type them in the box below and press Enter.</span>

    <div id="abstractTextDiv">
        <h1>{{ abstract.title }}</h1><br>
        {{ abstract.abstract_text }}
    </div>
    <hr>
    <form action="{% url 'diseaseMatcherApp:processMatches' %}" method="post" id="detailForm">
    {% csrf_token %}
    <!-- TODO: Pretty up this layout -->

    <!-- find next-gen answer to tables; maybe Bootstrap grid -->
        <table>
            <tr>
                <td>
                   <label for="userInput">Type disease names here:</label><br>
                      <input type="text" id="userInput" name="userInput"><br>
                        <span style="font-style:italic">(press enter to submit each answer)</span>
                </td>
                <td style="width:100px"></td>
                <td>
                    <label for="inputSoFar">You have entered:</label><br>
                    <textarea id="inputSoFar" name="inputSoFar" tabindex="-1"></textarea>

                </td>
            </tr>
           <!----> <tr>
                <td>
                    <span id="secondsLeft"></span> seconds left.
                </td>
            </tr>
            <tr>
                <td>
                    <p><input type="submit" value="Done"></p>
                </td>
            </tr>

        </table>

        <input type="hidden" id="abstract_pk" name="abstract_pk" value="{{ abstract.id }}">
        <input type="hidden" id="userMatches" name="userMatches" value="">

    </form>

</body>
</html>