{% extends 'diseaseMatcherApp/base.html' %}

{% block title %}
    {{ abstract.title }}
{% endblock %}

{% block extrascripts %}
    {% load sstatic %}
    <script>
        data_for_js = JSON.parse('{{ abstract.gold_standard_match | safe }}');
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% sstatic 'diseaseMatcherApp/UI-helper-abstractDetail.js' %}"></script>
{% endblock %}

{% block content %}
    <span class="instructions">Highlight disease names with your mouse, or type them in the box below and press Enter.</span>

    <div id="abstractTitleDiv">
        <h1>{{ abstract.title }}</h1>
    </div>
    <div id="abstractTextDiv">
        {{ abstract.abstract_text }}
    </div>

    <!-- TODO: This is for testing.  Yank it when done.

    <br>HERE ARE THE MATCHES:<br>
    {% for match in abstract.gold_standard_match %}

        {{ match }}
    {% endfor %}

    -->

    <hr>
    <form action="{% url 'diseaseMatcherApp:processMatches' %}" method="post" id="detailForm" autocomplete="off">
    {% csrf_token %}

        <div id="leftColumn">
            <div id="topChunk">
                <label for="userInput" id="textEntryColumnAnchor">Type disease names here:</label>
                <br>
                <input type="text" id="userInput" name="userInput" autocomplete="off"><br>
                <span id="feedback" style="font-style:italic">(press ENTER to submit each answer)</span>
            </div>
            <div id="bottomChunk">
                <label for="submitButton" id="secondsLeft"></label> seconds left.
                <p><input id="submitButton" type="submit" value="Done"></p>
            </div>
        </div>
        <div id="rightColumn">
            <label for="anwerDisplay">You have entered:</label><br>
            <table id="answerDisplay">
                <thead>
                    <tr>
                        <th>
                            Answer
                        </th>
                        <th>
                            Delete?
                        </th>
                    </tr>
                </thead>
                <tbody id="answerBody" class="answerTable">

                </tbody>

            </table>
        </div>



        <input type="hidden" id="abstract_pk" name="abstract_pk" value="{{ abstract.id }}">
        <input type="hidden" id="userTypedMatches" name="userTypedMatches" value="">
        <input type="hidden" id="userHighlightedMatches" name="userHighlightedMatches" value="">

    </form>
{% endblock %}
