{% extends 'diseaseMatcherApp/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<span class="instructions">

{% if form.errors %}

    {%   for field, errors in form.errors.items %}
        {% for error in errors %}
            {{ error }}
        {% endfor %}
    {% endfor %}

{% else %}
    Please log in to play Disease Matcher.  <br>
{% endif %}

Don't have a login?  Then <a href="{% url 'registration' %}">register</a>.
</span>
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}

<br>


    <table>
        <tr>
            <td>
                {{ form.username.label_tag }}
            </td>
            <td>
                {{ form.username }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.password.label_tag }}
            </td>
            <td>
                {{ form.password }}
            </td>
        </tr>
    </table>

    <input type="submit" value="Login">
    <input type="hidden" name="next" value="{{ next }}"
</form>
{% endblock %}