* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

textarea {
    line-height: 1;
    max-width: 200px;
    height: 200px;
    color: green;
    margin: 0 auto;
    position: relative
    right: 20px
}

h1 {
    color: blueviolet;
}

.banner {
    /*position: fixed;*/
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

.instructions {
    color: darkblue;
    font-family: "Courier New";
    font-size: large;
    font-weight: bold;
}

#leftColumn {
    position: relative;
    float: left;
    left: 50px;
}

#rightColumn {
    position: relative;
    float: right;
    right: 200px;
}

#topChunk {

}

#bottomChunk {
    position: absolute; /*Anchor is #leftColumn.  Prevents jumping about when error messages fade in and out.*/
    top: 100px;
}