textarea {
    line-height: 1;
    width: 200px;
    height: 300px;
    color: green;

}

table {
    border-width: 5px;
}

h1 {
    color: blueviolet;
}

.instructions {
    color: lightblue;
    font-family: Verdana;
    font-size: large;
    font-weight: bold;
}