* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
    color: blueviolet;
}

th {
    text-decoration: underline;
    color: darkmagenta;
    min-width: 150px;
}

.banner {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-left: 50px;
    padding-top: 20px;
}

.bannerUsername {
    float:right;
    padding-right: 100px;
}

.menuLink {
    padding: 8px;
}


.instructions {
    color: darkblue;
    font-family: "Courier New";
    font-size: large;
    font-weight: bold;
    position: relative;
    top: 15px;
    /*padding-top: 25px;*/
}

.answerTable {
    padding: 3px;
    border-width: 2px;
    text-align: center;
}

#leftColumn {
    position: relative;
    float: left;
    left: 50px;
}

#rightColumn {
    position: relative;
    float: right;
    right: 200px;
}

#topChunk {

}

#bottomChunk {
    position: absolute; /*Anchor is #leftColumn.  Prevents jumping about when error messages fade in and out.*/
    top: 100px;
}